@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --color-primario: #7C3AED;
  --color-fondo: #F9FAFB;
  --color-texto: #111827;
  --color-error: #EF4444;
  --color-exito: #10B981;
}
